import type { FC } from 'react'

import { {{pascalCase name}}Presenter } from './{{pascalCase name}}Presenter'

export const {{pascalCase name}}: FC = () => {
  return (
    <div>
      <{{pascalCase name}}Presenter {{camelCase name}}="{{camelCase name}}" />
    </div>
  );
};